 {% extends 'base.html' %}
 {% block content %}

  <header id="page-header">
  <img src="../../static/img/cover1.jpg" class="img-responsive" height="150" width="1348" alt=""/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                  <div class ="carousel-caption">
                   <h1>User Login</h1>
                  </div>
                    
                </div>
            </div>
        </div>
    </header>



 <section id="login">
      <div class="container">
        <div class="row">
         <div class="col-md-6 mx-auto">
             <div class="card">
                 <div class="card-header ">
                     <h4><i class="fas fa-user"></i> Enter Valid Credentials</h4>
                 </div>
                 <div class="card-body">
                      
                     <form action="{% url 'userlog' %}" method="POST">
                      {% csrf_token  %}
                         <div class="form-group">
                             <label for="name">Username</label>
                             <input type="text" class="form-control" name="username" required="">
                         </div>
                         <div class="form-group">
                             <label for="name">Password</label>
                             <input type="password" class="form-control" name="password" required="">
                         </div>                         
                                             <input type="submit" value="Submit" class="btn btn-success btn-block">
                     </form>
                 </div>
             </div>
         </div>
         
        </div>
      </div>
    </section>

    <!-- News Letter -->
     <section id="newsletter" class="text-center p-5 bg-dark text-white">

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>CONTACT INFO:</li>
              <li>Kathmandu,Nepal</li>
              <li> <i class="fas fa-phone"></i>Phone:9861099370</li>
              <li><i class="fas fa-envelope-open"></i>Email Us:xyz@gmail.com </li>
              <li> <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a></li>
            </ul>
          </div>
          <div class="col-md-4 ">
            <ul class="list-unstyled">
              <li>MODULES:</li>
              <li>Analysis</li>
              <li>User Modules</li>
              <li>Configuration Module</li>
              <li>Login Module</li>
            </ul>

          </div>

          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>PROJECT LINKS:</li>
              <li>Home</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Login</li>
            </ul>
          </div>

          
           
         

          

      
    </section>
    {% endblock %}