{% extends 'test.html' %}
{% block content %}

<header id="main-header" class="py-2 login-admin-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fas fa-user"></i> ANALYSIS DETAILS</h1>
          </div>
        </div>
      </div>
    </header>
    <!-- Table -->
    <section id="posts">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-4 mb-4">
              <div class="card">
                
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>Sr No</th>
                      <th>Topic Name</th>
                      <th>Total Travel</th>
                      <th>Analysis Date</th>
                      <th>Actions</th>
                      <th></th>
                    </tr>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <th>Post One</th>
                        <th>Designer</th>
                        <th>23-20</th>
                        <th>
                          <a href="./viewSentiments.html" class="btn btn-success">
                            View Sentiments
                          </a>
                        </th>
                      </tr>
                      <tr>
                        <th>2</th>
                        <th>Post Two</th>
                        <th>Accountant</th>
                        <th>5-20</th>
                        <th>
                            <a href="./viewSentiments.html" class="btn btn-success">
                                View Sentiments
                              </a>
                        </th>
                      </tr>
                      <tr>
                        <th>3</th>
                        <th>Post Three</th>
                        <th>Manager</th>
                        <th>11-20</th>
                        <th>
                            <a href="./viewSentiments.html" class="btn btn-success">
                                View Sentiments
                              </a>
                        </th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>Post Four</th>
                        <th>Business</th>
                        <th>2-20</th>
                        <th>
                            <a href="./viewSentiments.html" class="btn btn-success">
                                View Sentiments
                              </a>
                        </th>
                      </tr>
                      <tr>
                        <th>5</th>
                        <th>Post Five</th>
                        <th>CTO</th>
                        <th>3-20</th>
                        <th>
                            <a href="./viewSentiments.html" class="btn btn-success">
                                View Sentiments
                              </a>
                        </th>
                      </tr>
                    </tbody>
                  </thead>
                </table>
              </div>
            </div>
           
      </section>

          <section id="newsletter" class="text-center p-5 bg-dark text-white">

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>CONTACT INFO:</li>
              <li>Kathmandu,Nepal</li>
              <li> <i class="fas fa-phone"></i>Phone:9861099370</li>
              <li><i class="fas fa-envelope-open"></i>Email Us:xyz@gmail.com </li>
              <li> <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a></li>
            </ul>
          </div>
          <div class="col-md-4 ">
            <ul class="list-unstyled">
              <li>MODULES:</li>
              <li>Analysis</li>
              <li>User Modules</li>
              <li>Configuration Module</li>
              <li>Login Module</li>
            </ul>

          </div>

          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>PROJECT LINKS:</li>
              <li>Home</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Login</li>
            </ul>
          </div>
</section>
{% endblock %}