 {% extends 'base.html' %}
 {% block content %} 
 <header id="page-header">
  <img src="static/img/cover1.jpg" class="img-responsive" height="150" width="1349 " alt=""/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                  <div class ="carousel-caption">
                    <h1>Contact Us</h1>
                    <p>We examine sentiment analysis on Twitter data</p>
                  </div>
                    
                </div>
            </div>
        </div>
    </header>
 <section id="contact" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-4">
                        <div class="card-body">
                            <h4>Get In Touch</h4>
                            <p> Discover the Twitter sentiment for a product or brand.</p>
                            <h4>Adderess</h4>
                            <p>Nepal</p>
                            <h4>Email</h4>
                            <p>basnetsachin20@gmail.com</p>
                            <h4>Phone</h4>
                            <p>9861099370</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card p-4">
                        <div class="card-body">
                            <h3 class="text-center">Please fill the form to contact us </h3>
                            <hr class="bg-warning">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" placeholder="First Name" id="" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" placeholder="Last Name" id="" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" placeholder="Email" id="" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" placeholder="Address" id="" class="form-control">
                                    </div>
                                </div>

                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                   <div class="form-group">
                                    <textarea rows="5" class="form-control" placeholder="Enter Message"></textarea>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                   <div class="form-group">
                                   <input type="submit" value="Submit" class="form-control btn btn-outline-success">
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Staff -->
    <section id="staff" class="py-5 text-center bg-dark text-white">
        <div class="container">
            <h1>Team Memeber</h1>
            <div class="row">
                <div class="col-md-3">
                    <img src="static/img/sachin.jpg" alt="" class="img-fluid rounded-circle mb-2">
                     <big>Sachin Basnet</big>
                </div>
                
                <div class="col-md-3">
                    <img src="static/img/saugat.jpg" alt="" class="img-fluid rounded-circle mb-2">
                     <big>Saugat Neupane</big>
                </div>
                <div class="col-md-3">
                    <img src="static/img/sujan.jpg" alt="" class="img-fluid rounded-circle mb-2">
                     <big>Sujan Shrestha</big>
                </div>
                <div class="col-md-3">
                    <img src="static/img/lokesh.jpg" alt="" class="img-fluid rounded-circle mb-2">
                    <big>Lokesh Bhusal</big>
                </div>
            </div>
        </div>
    </section>
{% endblock %}








