{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="showcase" >
  
      <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item  active ">
            <img src="static/img/cover1.jpg" class="" height="450px" width="1400px" alt=""/>

            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Configure api's from UI and perform analysis</h1>

                <p class="lead">
                  UI for managing twitter api credentials real time
                </p>
                <a href="#" class="btn btn-success btn-lg">Read More</a>
              </div>
            </div>
          </div>

          <div class="carousel-item ">
            <img src="static/img/cover2.jpg" class="carousel-image-2" alt="" height=" 450px" width="1400px" background-size="cover" border="20px"/>

            <!-- <div class="container">
              <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="display-3">Heading two</h1>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reprehenderit iste harum possimus sed. Provident fugit omnis
                  ullam, labore necessitatibus quibusdam.
                </p>
                <a href="#" class="btn btn-info btn-lg">Learn More</a>
              </div>
            </div>
          </div> -->
           <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Keep track of all past sentiment's report</h1>

                <p class="lead">
                  Management of sentiment analysis history
                </p>
                <a href="#" class="btn btn-success btn-lg">Read More</a>
              </div>
            </div>
          </div>


          <div class="carousel-item ">
            <img src="static/img/cover3.jpg" class="carousel-image-3" alt="" height=" 450px" width="1400px"background-size="cover" border="20px" />

            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Sentiment analysis of twitter data</h1>

                <p class="lead">
                   Perform sentiment analysis of twitter data
                </p>
                <a href="#" class="btn btn-success btn-lg">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" data-slide="prev">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>
    <!-- description -->
    <h1 class="home-heading text-center">WELCOME TO TWITTER SENTIMENT ANALYSIS PORTAL</h1>
    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body card1">
                <h3 class="text-primary">Strength</h3>
                <p class="text-muted">
                  Discover the Twitter sentiment for a product or brand.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">

            <div class="card text-center bg-primary text-white mb-resp">
         <img src="static/img/tweet2.png" class="" alt="" height="170px"  />

              <!-- <div class="card-body"> -->
                <!-- <h3 class="text-white">Be Smarter</h3> -->
              <!--   <p class="text-white">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Repellendus, pariatur.
                </p> -->

              <!-- </div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary mb-resp">
              <div class="card-body card3">
                <h3 class="text-primary">Analyze</h3>
                <p class="text-muted" >
                  Classifies tweets as positive, negative, or neutral based on happy and sad keywords.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-3"> -->

            <!-- <div class="card text-center bg-primary mb-resp">
              <div class="card-body">
                <h3 class="text-white">Be Wiser</h3>
                <p class="text-white">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Repellendus, pariatur.
                </p>
              </div>
    

            </div> -->

          <!-- </div> -->

          <div class="col-md-3">

            <div class="card text-center bg-primary text-white mb-resp">
         <img src="static/img/tweet1.jpg" class="" alt="" height="170px"  />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Home icon section -->
    <section id="home-icons" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 text-center">
            <!-- <i class="fas fa-cog fa-3x mb-2"></i> -->
            <h3>Twitter Sentiment Analysis</h3>
            <p class="lead">
          Sentiment Analysis is the automated process of analyzing text data and sorting it into sentiments positive, negative or neutral. With more than 321 million active users, sending a daily average of 500.
            </p>
            <a href="about.html" class="btn btn-outline-success btn-lg"
              >Read More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
            <!-- <i class="fas fa-cloud fa-3x mb-2"></i> -->
            <h3> Dynamic configuration</h3>
            <p class="lead">
             Dynamic configuration is the ability to change the behavior and functionality of a running system without requiring application restarts. An ideal dynamic configuration system enables service.
            </p>
            <a href="about.html" class="btn btn-outline-success btn-lg"
              >Read More</a>
          </div>
          <div class="col-md-4 mb-4 text-center">
            <!-- <i class="fas fa-cart-plus fa-3x mb-2"></i> -->
            <h3>Search History</h3>
            <p class="lead">
               Dynamic configuration is the ability to change the behavior and functionality of a running system without requiring application restarts. An ideal dynamic configuration system enables service.. 
            </p>
            <a href="about.html" class="btn btn-outline-success btn-lg"
              >Read More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Home heading section -->
    <!-- section id="home-heading" class="p-5">

       <div class="dark-overlay">
        <div class="row">
          <div class="col">
            <div class="container pt-5">
          
              <h1>Are You ready to get Started ?</h1>
              <p class="lead d-none d-md-block">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est,
                iusto?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- info section -->
    <section id="info" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <h3>ABOUT TWITTER DATA SENTIMENT ANALYSIS</h3>
            <p>
             Also known as “Opinion Mining”, Sentiment Analysis refers to the use of Natural Language Processing to determine the attitude, opinions and emotions of a speaker, writer, or other subject within an online mention.
Essentially, it is the process of determining whether a piece of writing is positive or negative. This is also called the Polarity of the content.
            </p>
            <a href="about.html" class="btn btn-outline-success btn-lg"
              >Read More</a>
          </div>
          <div class="col-md-6">
            <img src="static/img/new.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
 <section id="newsletter" class="text-center p-5 bg-dark text-white">

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>CONTACT INFO:</li>
              <li>Kathmandu,Nepal</li>
              <li> <i class="fas fa-phone"></i>Phone:9861099370</li>
              <li><i class="fas fa-envelope-open"></i>Email Us:xx@gmail.com </li>
              <li> <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a></li>
            </ul>
          </div>
          <div class="col-md-4 ">
            <ul class="list-unstyled">
              <li>MODULES:</li>
              <li>Analysis</li>
              <li>User Modules</li>
              <li>Configuration Module</li>
              <li>Login Module</li>
            </ul>

          </div>

          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>PROJECT LINKS:</li>
              <li>Home</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Login</li>
            </ul>
          </div>

          
           
         

          

      
    </section>
    

{% endblock %}